*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
    background-color: black;
    color: white;
    
}
.main{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    gap: 15px;
}
.clock{
    width: 170px;
    height: 35px;
    background-color: orange;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
}
.text{
    font-size: 20px;
    font-weight: 600;

}